body {
  background-image:url("wood.jpg");
}

#panel {
  position: relative;
  margin-top: 50px;
}

input {
  margin-left: 250px;

}

button {
  margin-left: 10px;
}


#video {
  position: relative;
  width: 426px;
  height: 240px;
  background-color: white;
}
